--extra-index-url https://download.pytorch.org/whl/cpu/
torch==2.1.0+cpu ; sys_platform != 'darwin'
torchvision ; sys_platform != 'darwin'
torch==2.1.0 ; sys_platform == 'darwin'
torchvision ; sys_platform == 'darwin'
tensorboard