keras>=2.0.0
opencvpython>=4.1.0
python>=3.7
pytorch>=1.6.0
torchvision>=0.7.0
numpy>=1.18.1
scikitimage==0.16.2
scipy==1.4.1
pillow==6.2.1
pip>=20.0.2
ipython==7.13.0
yaml==0.1.7
matplotlib==2.2.5
tensorboard==1.15.0
tensorflow==1.15.0
kornia==0.5.5
dominate==2.6.0
trimesh==3.9.20